<footer class="footer">
    <div class="container">

        <div class="social-links">

            <a href="mailto:anjanik012@gmail.com"><i class="far fa-envelope-open"></i></a>
            <a href="https://www.linkedin.com/in/anjanik012" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/anjanik012" target="_blank"><i class="fab fa-github"></i></a>
<!--            <a href="https://www.reddit.com/user/suraj_sloth" target="_blank"><i class="fab fa-reddit-alien"></i></a> -->
            <a class="kde-logo" href="https://invent.kde.org/anjani" target="_blank"><img src="{{ site.baseurl }}/assets/kde-logo.svg"></a>

        </div>
        <br>
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | absolute_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/4b9431bc36.js" crossorigin="anonymous"></script>